parameters:
    gemini.api_key: '%env(GEMINI_API_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\GeminiImageService:
        arguments:
            $geminiApiKey: '%gemini.api_key%'
